<section class="tout" id="interests">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Interests</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<p>
					My personal interests include:
				</p>
				<ul>
					<li>
						<b>Deep learning</b>. It's an exciting time for machine learning.
						I found an oppurtinity to work with some deep learning subjects during studying of PhD.
						Now I'm tring to stay syncronized for the latest development on this field to create helpful
						mobile apps.
					</li>
					<li>
						<b>Sports</b>. Running is my passion. I try to run at least twice even in my busiest weeks.
						I also love doing workout, it makes me feel more energectic after a challenging workout session.
					</li>
					<li>
						<b>Personal Development</b>. I believe that, similar to the software development approaches,
						continuous improvement in everyday life is the key for lifetime success.
						I like reading some personal development stuff. Trying new approaches, productivity frameworks
						to do something in an efficent manner is crucial for me.
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Recent Projects</h3>
				<ul>
					<li>
						A Supervisor project that makes it easier to manage subsystems and
						syncronize critical data between those subsystems.
					</li>
					<li>
						A couple of enterprise-scale projects to manage huge amount of data.
						Took opportunity at designing, implementation and integration of many modules and systems.
					</li>
				</ul>
				<h3>Other Things</h3>
				<ul>
					<li>
						Java platform
						<ul>
							<li>Pure Java</li>
							<li>Spring Framework</li>
							<li>Hibernate Framework</li>
							<li>Java Server Faces (JSF)</li>
						</ul>
					</li>
					<li>
						Other Languages
						<ul>
							<li>C++</li>
							<li>Swift</li>
							<li>HTML/CSS</li>
							<li>C#</li>
							<li>Python (a little experience)</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>